.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  width: 420px;
  background: #fff;
  padding: 28px;
  border-radius: 14px;
}

.modal h3 {
  text-align: center;
  margin-bottom: 20px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background: #9d2d2d;
  color: white;
  padding: 10px 24px;
  border-radius: 6px;
  border: none;
}

.cancel-btn {
  background: #888;
  color: white;
  padding: 10px 24px;
  border-radius: 6px;
  border: none;
}
